@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100;300&family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Open+Sans&family=Roboto:wght@100;300&family=Secular+One&display=swap");

:root {
  --primary-color: #c72727;
  --secondary-color: #00aeef;
  --red-color: #ed1c24;
  --light-color: #edeef3;
  --dark-color: #000066;
  --black-color: #000000;
  --max-width: 1100px;
}

.category {
  --sports-color: #6e8ebf;
  --politics-color: #52b788;
  --tech-color: #f26522;
  --economy-color: #c72564;
  --health-color: #417505;
  --opinion-color: #ed1c24;
  --gossip-color: #000066;
  --overseas-color: #395e6e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arimo", sans-serif;
  line-height: 1.4;
  background: var(--light-color);
}

a {
  color: #333;
  text-decoration: none;
}

p {
  margin: 0.3rem 0;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Secular One", sans-serif;
  margin-bottom: 0.55rem;
  line-height: 1.3;
  font-weight: normal;
}

/* Utility */

.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem;
  overflow: hidden;
}

.category {
  display: inline-block;
  color: #fff;
  font-size: 0.75rem;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}

/* Category Colors */
.category-politics {
  background: var(--politics-color);
}

.category-health {
  background: var(--health-color);
}

.category-economy {
  background: var(--economy-color);
}

.category-tech {
  background: var(--tech-color);
}

.category-gossip {
  background: var(--gossip-color);
}

.category-sports {
  background: var(--sports-color);
}

.category-opinion {
  background: var(--opinion-color);
}

.category-overseas {
  background: var(--overseas-color);
}

/* Buttons */
.btn {
  display: inline-block;
  border: none;
  color: #fff;
  background: var(--primary-color);
  padding: 0.5rem 1.5rem;
  border-radius: 3px;
}

.btn-primary:hover {
  background: #b82626;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btn-secondary:hover {
  background-color: #0293c8;
  transition: 0.3s ease-in-out;
}

.btn-block {
  display: block;
  width: 100%;
  text-align: center;
  padding: 0.5rem 1.5rem;
}

.btn-primary {
  background: var(--primary-color);
}

.btn-secondary {
  background: var(--secondary-color);
  margin-top: 0.5rem;
}

.btn-light {
  background: var(--light-color);
  color: #333;
}

.btn-black {
  background: var(--black-color);
}

/* Cards */

.card {
  background: #fff;
  padding: 1rem;
  border-radius: 5px;
}

.bg-dark {
  background: var(--dark-color);
  color: #fff;
}

.bg-primary {
  background: var(--primary-color);
  color: #fff;
}

.bg-light {
  background: var(--light-color);
  color: #fff;
}

.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark a,
.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary a,
.bg-secondary h1,
.bg-secondary h2,
.bg-secondary h3,
.bg-secondary a {
  color: #fff;
}

.padding-y1 {
  padding: 1.5rem 0;
}

.padding-y2 {
  padding: 2rem 0;
}

.padding-y3 {
  padding: 3rem 0;
}

.padding-1 {
  padding: 1.5rem;
}

.padding-2 {
  padding: 2rem;
}

.padding-3 {
  padding: 3rem;
}

.list li {
  padding: 0.5rem 0;
  border-bottom: #555 dotted 1px;
  width: 90%;
}

.list li a:hover {
  color: var(--primary-color) !important;
  transition: 0.2s ease-in-out;
}

/* Navigation */
#navbar {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
  opacity: 0.95;
}

#navbar .container {
  display: grid;
  grid-template-columns: 6fr 3fr 2fr;
  padding: 1rem;
  align-items: center;
}

#navbar .logo {
  width: 180px;
}

#navbar ul {
  justify-self: end;
  display: flex;
}

#navbar ul li {
  padding: 0.75rem;
}

#navbar ul li a {
  font-weight: bold;
  border-radius: 3px;
  padding: 0.75rem;
  border-radius: 3px;
}

#navbar ul li a.current {
  background: var(--red-color);
  color: #fff;
  padding: 0.75rem;
  border-radius: 3px;
}

#navbar ul li a:hover {
  background: var(--red-color);
  color: #fff;
  transition: 0.2s ease-in-out;
}

#navbar ul li a.current:hover {
  background: var(--light-color);
  color: #333;
  transition: 0.2s ease-in-out;
}

#navbar .social {
  justify-self: center;
}

#navbar .social i {
  margin-right: 0.5rem;
}

#navbar .social i:hover {
  color: #777;
}

/* Showcase */
#showcase {
  color: #fff;
  background: #333;
  padding: 2rem;
  position: relative;
}

#showcase::before {
  content: "";
  background: url("../img/main.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

#showcase .showcase-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: 50vh;
}

#showcase .showcase-content {
  z-index: 1;
}

#showcase .showcase-content p {
  margin-bottom: 1rem;
}

/* Home Articles */
#home-articles .articles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

#home-articles .articles-container > *:first-child {
  display: grid;
  grid-template-columns: repeat(1.5, 1fr);
  grid-gap: 1rem;
  grid-column: 1 / span 2;
}

#home-articles .articles-container > *:last-child {
  grid-column: 2 / span 2;
}

/* Footer */
#footer {
  background: #131a2a;
  color: #fff;
}

#footer img {
  width: 200px;
}

#footer a {
  color: #fff;
}

#footer .footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
}

#footer .footer-container > *:last-child {
  background: #444;
  grid-column: 1 / span 4;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.75rem;
}

#footer .footer-container input[type="email"] {
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

#footer .footer-container input[type="submit"] {
  width: 90%;
  font-size: 18px;
}

/* About Page */
.grid-container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-gap: 1.5rem;
  margin: 2rem 0;
}

.grid-container > *:first-child {
  grid-row: 1 / span 3;
}

.card.about-container {
  height: 63vh;
}

#aside-2 {
  background: #ac2b2b;
  color: #fff;
}

#aside-2 img {
  border-radius: 50%;
  padding-top: 2px;
}

.heading {
  font-size: 2.5rem;
}

#aside a {
  margin-top: 0.5rem;
}

/* Articles */
#article .meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eee;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

#article .meta .category {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

/* Second Navbar */
#secondary-navbar {
  background: var(--primary-color);
  margin: 0.4rem;
}

#secondary-navbar .container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 0.1px;
}

#secondary-navbar .container ul li a {
  color: #fff;
}
#secondary-navbar .container ul li a:hover {
  font-weight: bold;
}
